<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/School_Management-System/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Welcome</title>
</head>

<body>
    <section class="whole">



        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Keses Primary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile Picture</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>

                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <div class="img">

                        </div>
                        <div class="userProfile">
                            <h5 id="userName"> Ismael</h5>
                            <p id="UserType">Teacher</p>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="home">
            <div class="left bg-light">
                <div class="navigation">
                    <ul>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/School_Management-System/views/home.html"><i class="bi bi-house"></i> Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/School_Management-System/views/marks.html"><i class="bi bi-file-check"></i> Marks</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/School_Management-System/views/settings.html"> <i class="bi bi-gear"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>

                <div class="users">
                    <div id="allusers"></div>
                </div>

            </div>
            <div class="right">
                <h5 id="examDone"></h5>
                <div class="homeRight">
                    <div class="rectangle bg-success">
                        <h6>Class</h6>
                        <h3 id="Class"></h3>

                    </div>
                    <div class="rectangle bg-warning">
                        <h6>No of Students: </h6>
                        <h3 id="NoStudents"></h3>

                    </div>
                    <div class="rectangle bg-primary">
                        <h6>Type of Exam Done: </h6>
                        <h3 id="typeOfExam"></h3>

                    </div>
                    <div class="rectangle bg-light">
                        <h6>Mean Standard Score</h6>
                        <h3 id="MSS">188.99</h3>

                    </div>
                </div>

            </div>

        </div>
        </div>



    </section>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>

    <script src="/School_Management-System/Js/config.js"></script>
    <script src="/School_Management-System/Js/home.js"></script>
</body>

</html>